body {
  background: var(--bg-col-1);
  color: white;
}

ul li {
  list-style-type: circle;
}

ul {
  padding-left: 19px;
}

li {
  font-family: var(--font-fam-5);
}



.image_container {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--border-rad-4);
}

/* Reusable */
.btn__1 {
  background: var(--bg-col-3);
  font-family: var(--font-fam-1);
  transition: var(--transition-1);
}

.btn__1:hover {
  background: var(--bg-col-4);
  color: var(--bg-col-1);
}

.btn__1:active {
  background: var(--bg-col-6);
  color: var(--bg-col-1);
  transition: none;
}

.section_header {
  font-family: var(--font-fam-3);
  max-width: 400px;
}

.section_seperator {
  margin-bottom: 80px;
  margin-top: 30px;
}

/* Header */
/* Header */
.header_content {
  z-index: 999;
  width: 100%;
  position: fixed;
  top: 0px;
  /* border: 1px solid rgba(204, 204, 204, 0.1); */
  background: rgba(0, 0, 0, 0.2);
  /*  */
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.header {
  margin: 0px auto;
  grid-template-columns: auto auto;
  /* Logo grid + navigation + hidden burger */
  grid-template-columns: auto 360px 0px;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__right {
  display: grid;
  font-family: var(--font-fam-4);
  grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
  grid-template-columns: 1fr 1fr 1fr;
}

.header_link_tag {
  text-decoration: none;
}

/* Navigation */
/* Navigation */
.navigation_box {
  transition: var(--transition-3);
  background: var(--bg-col-2);
  border-radius: var(--border-rad-2);
  padding: 20px 0px;
  margin: 20px 0px;
}

.header__right_link {
  padding: 5px 0px;
}

.navigation_content {
  gap: 20px;
  font-family: var(--font-fam-3);
}

/* Top Content */
/* Top Content */
.top_content {
  display: grid;
  grid-template-rows: auto auto;
}

.top_content_headline {
  font-family: var(--font-fam-3);
}

.top_content_subtext {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: var(--font-fam-4);
  font-size: var(--fs-7);
  max-width: 600px;
}

.text-op,
.history_list {
  opacity: 0.85 !important;
}

.top_content_whitespace {
  min-height: 200px;
}

.top_content_header_max_w {
  max-width: 800px;
  line-height: 0.9;
}

.section__2 {
  margin: 30px 0px;
  margin-top: 44px;
}

.section__2_img {
  width: 100%;
  height: 100%;
  max-height: 420px;
  object-fit: cover;
  box-shadow: var(--shadow-2);
  border-radius: var(--border-rad-4);
}

/* History Grid */
.history_grid {
  margin-top: 20px;
  gap: 45px;
  grid-template-columns: 1fr 1fr;
}

.hist_child {
  grid-template-columns: 65px auto;
  /* YEAR - CONTENT */
}

.history_year {
  font-family: var(--font-fam-5);
  font-size: var(--fs-3);
  line-height: 0.84;
  opacity: 0.9;
  user-select: none;
  margin-bottom: 4px;
}

.history_list {
  font-family: var(--font-fam-3);
  font-size: var(--fs-9);
  line-height: 1.5;
}

.history_list_item {
  max-width: 500px;
  margin-bottom: 6px;
}

/* Products */
/* Products */
.products_parent_grid {
  gap: 40px;
  grid-template-columns: 600px auto;
}

.products_img_div {
  width: 100%;
  height: 210px;
}

/* Custom Size */
.sizes_grid {
  gap: 8px;
  flex-flow: row;
  flex-wrap: wrap;
}

.size_box {
  border: 1px solid rgba(207, 207, 207, 0.2);
  border-radius: var(--border-rad-5);
  transition: var(--transition-1);
  font-family: var(--font-fam-3);
  font-size: var(--fs-9);
  padding: 6px 20px;
}

.size_box:hover {
  border: 1px solid rgba(207, 207, 207, 0);
  background: var(--bg-col-5);
  color: var(--bg-col-1);
}

/* Gallery */
/* Gallery */
.gallery_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 12px;
}

.gallery_child {
  width: 100%;
  /* height: 100%; */
  height: 300px;
  height: 240px;
}

.gallery_child_img {
  border: 2px solid rgba(255, 255, 255, 0);
  transition: var(--transition-1);
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: var(--border-rad-4);
}

.gallery_child_img:hover {
  border: 2px solid var(--bg-col-5);
}

/* Footer */
/* Footer */
.footer {
  padding: 40px 0px;
  background: #091409;
  color: white;
}

.footer_content {
  gap: 14px;
  grid-template-columns: 320px auto;
}

/* right footer grid that holds contact info cells */
.footer_right {
  gap: 50px 40px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.footer_right_label_and_info_grid {
  grid-template-rows: 13px auto;
  gap: 4px;
}

.footer_label_cell {
  font-family: var(--font-fam-5);
  font-size: var(--fs-9);
  font-weight: 400;
  opacity: 0.6;
}

.footer_value_cell {
  font-family: var(--font-fam-3);
  font-size: var(--fs-8);
}