@media screen and (max-width: 1460px) {
  .max-width-1,
  .max-width-2 {
    padding: 0px 40px;
  }
}

@media screen and (max-width: 1020px) {
  /* HISTORY */
  /* HISTORY */
  /* HISTORY */
  .hist_child {
    /* YEAR - CONTENT */
    /* grid-template-columns: 65px auto; */
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }
  .history_list {
    display: grid;
    gap: 6px;
    /* padding: 0px; */
    list-style-type: none;
  }
  .history_grid {
    grid-template-columns: 1fr;
  }
  .history_year {
    display: flex;
    flex-direction: row;
  }

  /* HEADER */
  /* HEADER */
  /* HEADER */
  /* hide the links bar and return the burger */
  .header {
    grid-template-columns: auto 40px;
  }
  .header__right {
    display: none;
  }
  /* show / hide the conditional box only when there is the burger menu shown*/
  .navigation_box {
    height: auto;
    opacity: 1;
    display: grid;
  }
  .header__nav {
    /*  */
    display: flex;
    align-items: center;
    justify-content: center;
    /*  */
    width: 20px;
    height: 20px;
    /*  */
    /* border: 1px solid red; */
  }
  .header__burger_img {
    padding: 6px;
    width: 100%;
    height: 100%;
  }

  /* PRODUCTS */
  /* PRODUCTS */
  /* PRODUCTS */
  .products_parent_grid {
    gap: 34px;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }
  .size_box {
    padding: 7px 10px;
  }
}

@media screen and (max-width: 820px) {
  .footer_content {
    grid-template-columns: auto;
    gap: 30px;
    grid-template-rows: auto auto;
  }
  .footer_right {
    grid-template-columns: auto;
    gap: 33px;
  }
  .gallery_child {
    height: 220px;
  }

  .section_seperator {
    margin-bottom: 60px;
    margin-top: 20px;
  }

  :root {
    --fs-1: 54px;
    --fs-2: 39px;
    --fs-3: 37px;
    --fs-4: 27px;
    --fs-5: 22px;
    --fs-6: 20px;
    --fs-7: 15px;
    --fs-8: 15px;
    --fs-9: 14px;
  }
  .top_content_whitespace {
    min-height: 200px;
  }
}

@media screen and (max-width: 600px) {
  .gallery_grid {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-template-columns: 1fr;
  }
  .gallery_child {
    max-height: 310px;
  }
  .top_content_headline {
    font-family: var(--font-fam-1);
  }
  .section__2_img {
    min-height: 340px;
  }

  :root {
    --fs-1: 36px;
    --fs-2: 29px;
    --fs-3: 32px;
    --fs-4: 22px;
    --fs-5: 20px;
    --fs-6: 20px;
    --fs-7: 15px;
    --fs-8: 15px;
    --fs-9: 14px;
  }
  .max-width-1,
  .max-width-2 {
    padding: 0px 20px;
  }
}
