/* Add this to rufus later */

/* 
credits
https://css-irl.info/animating-underlines/ 
*/

/* Animated link tag 1 */
.animated_link_tag_1 {
  display: block;
  position: relative;
}
.animated_link_tag_1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.05em;
  height: 2px;
  background-color: var(--bg-col-5);
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}
.animated_link_tag_1:hover::after,
.animated_link_tag_1:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.1em, 0);
}

/* Animated link tag 2 */
.animated_link_tag_2 {
  display: block;
  position: relative;
}
.animated_link_tag_2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.05em;
  height: 2px;
  background-color: var(--bg-col-5);
  opacity: 0;
  transition: opacity 300ms, transform 200ms;
  transform: translate3d(-25%, 0, 0);
}
.animated_link_tag_2:hover::after,
.animated_link_tag_2:focus::after {
  opacity: 1;
  /* transform: translate3d(0, 0.2em, 0); */
  transform: translate3d(0, 0, 0);
}
